* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: none;
    background-color: rgba(251, 63, 92, 1);
    margin-bottom: 93px;
    padding: 23px 20px 27px 25px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 40px auto;
}

.logo {
    width: 197px;
    height: 50px;
}

.header-navigation {
    display: flex;
    gap: 52px;
    align-items: center;
}

.header-navigation > a {
    text-decoration:  none;
    color: #F8EEEF;
    font-family: 'nunito' , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}

#home {
    font-weight: 700;
}