* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1440px;
}

.button {
    background-color: #FB3F5C;
    border-radius: 10px;
    padding: 19px 57px;
    text-decoration: none;
    color: #F8EEEF;
    font-family: 'nunito' , sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-top: 48px;
    width: 238px;
}

.button:hover {
    background-color: #ffffff;
    transition-duration: 0.2s;
    color: #FB3F5C;
}

.button2 {
    background-color: #ffffff;
    color: rgba(251, 63, 92, 1);
    border-radius: 10px;
    padding: 19px 57px;
    text-decoration: none;
    font-family: 'nunito' , sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-top: 48px;
    width: 245px;
    border-color: rgba(251, 63, 92, 1);
    border-style: solid;
    max-width: 1440px;
}

.button2:hover {
    background-color:#FB3F5C;
    transition-duration: 0.5s;
    color: #ffffff;
}

header {
    background: none;
    background-color: rgba(251, 63, 92, 1);
    margin-bottom: 30px;
    padding: 23px 20px 27px 25px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 40px auto;
}

.logo {
    width: 197px;
    height: 50px;
}

.logo:hover {
    opacity: 50%;
    transition: 0.2s;
}

.header-navigation {
    display: flex;
    gap: 52px;
    align-items: center;
}

.header-navigation > a {
    text-decoration:  none;
    color: #F8EEEF;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}

.header-navigation > a:hover {
    font-size: 160%;
    transition: 0.2s;
}

#home {
    font-weight: 700;
}

.hello-section > img {
    order: 1;
}

.hello-section  {
    display: flex;
    background-image: url(./DamaDamsMedia/triangle.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 75px 50px;
    gap: 230px;
}

.hello-text {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: 'nunito' , sans-serif;
    font-style: normal;
    justify-content: center;
}

.hello-text > p {
    font-size: 28px;
    font-weight: 400;
}

.hello-text > h1 {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.dif {
    color: #FB3F5C;
}

.hello-section > img {
    order: 1;
}

.hello-section  {
    display: flex;
    background-image: url(./DamaDamsMedia/triangle.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 75px 50px;
    gap: 230px;
    margin-bottom: 228px;
}

.hello-text {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: 'Nunito Sans' , sans-serif;
    font-style: normal;
    justify-content: center;
}

.hello-text > p {
    font-size: 28px;
    font-weight: 400;
}

.hello-text > h1 {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.dif {
    color: #FB3F5C;
}

.programs {
    display: flex;
    margin-bottom: 216px;
    margin: 0 120px;
    gap: 200px;
    margin-bottom: 224px;
}

.programs > img {
    width: 369px;
    height: 452px;
}

.programs-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.programs-text > h1 {
    color: #191018;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    text-transform: capitalize;
}

.programs-text > p {
    font-size: 24px;
    font-family: 'Nunito Sans' , sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: lowercase;
    margin-bottom: 48px;
}

.buttons {
    gap: 39px;
    display: flex;
}

.progress {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 623px;
    height: 106px;
    gap: 10px;
    align-items: center;
}

.photoshop {
    display: flex;
    align-items: center;
    position: relative;
}

.photoshop > p {
    position: absolute;
    left: 164px;
    color: #FFF;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.figma {
    display: flex;
    align-items: center;
    position: relative;
}

.figma > p {
    position: absolute;
    left: 114px;
    color: #FFF;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.al {
    display: flex;
    align-items: center;
    position: relative;
}

.al > p {
    position: absolute;
    left: 178px;
    color: #FFF;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.numbers {
    display: flex;
    background: none;
    background-color: #FEC5CE;
    justify-content: space-around;
    padding: 62px 0;
    margin-bottom: 143px;
}

.number {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.number > h1 {
    color: #191018;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.number > p {
    color: #191018;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.latestworks > h1 {
    color: #191018;
    text-align: center;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    display: flex;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 74px;
}

.latestworks {
    margin: 0px;
    margin-bottom: 47px;
}

.workss {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

.works > h2{
    margin-top: 25px;
    color: #2D2D2D;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
}

.works > p {
    color: #2D2D2D;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
}

footer {
    background: none;
    background-color: rgba(251, 63, 92, 0.9);
}

.footer {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
    align-items: center;
    padding-top: 68px;
}

.tel,
.gmail,
.adress {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-bottom: 85px;
}

.tel > a,
.gmail > a,
.adress > p {
    text-decoration: none;
    color: #F8EEEF;
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.tel:hover,
.gmail:hover {
    opacity: 50%;
    transition: 0.2s;
}

.footer:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 67px;
}








/* mobile */

@media(max-width: 302px) {
   .hello-section {
    display: flex;
    flex-direction: column;
    background-position: top;
    padding: 0 50px;
    padding-top: 40px;
    gap: 87px;
    background-size: 100%;
   }
   .hello-section > img {
    order: 0;
   }
   header {
    margin-bottom: 0;
   }
   .logo{
    width: 162px;
    height: 50px;
   }
   .hello-text{
    text-align: center;
    font-size: 32px;
   }
   .hello-text > h1 {
    font-size: 25px;
   }

   .hello-text > p {
    font-size: 18px;
   }

   .header-navigation {
    overflow: hidden;
    position: relative;
   }

   .header-navigation > a {
    display: none;
   }
   .button {
    width: 220px;
    font-size: 16px;
   }
}